<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Trajet voyage</title>
    <style>
        .cursor-link:hover {
            background-color: rgba(0, 0, 0, .075);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand nav-link mb-0 h1" href="/">Accueil</a>
</nav>

<header class="container-fluid mb-4 mt-4">
    <div class="row align-items-center">
        <p class="h1"> {{location['start']}} > {{location['end']}}</p>
    </div>
</header>

<section class="container-fluid">

    {%if stop_arrays|length == 0 %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Ouups !</h4>
        <p>Aucun trajet n'a été trouvé.</p>
        <hr>
        <p class="mb-0">Il n y a pas de train pour ce trajet. Veuillez recommencer avec une nouvelle !</p>
    </div>
    {%endif%}

    {%for stop_array in stop_arrays%}
    <div class="card col-12 mb-4 cursor-link">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col-3">
                        <p class="font-weight-bold">{{stop_array['depart_date']}} à {{stop_array['depart_time']}}</p>
                        <p class="font-weight-bold">{{stop_array['depart_date']}} à {{stop_array['arrival_time']}}</p>
                    </div>

                    <div class="col-7">
                        <p class="text-uppercase">{{location['start']}}</p>
                        <p class="text-uppercase">{{location['end']}}</p>
                    </div>

                    <h4 class="col-2">{{price}}€</h4>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</section>

<footer>

</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>